*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

}

p {
  font-size: 1rem;
  font-weight: 300;
}

.wrapper {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:#EBFAFD;
}

header {
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  color: black;
}

.card {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px 0px;
  font-size: 14px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 20px;
  color: #0F7E8F;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  margin-top: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 10px;
}


textarea {
  height: 15px !important;
  border: 2px solid #c0c7cf !important;
}


.btn {
  border: none;
  background-color: #0F7E8F;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  line-height: 16px;
  padding: 10px 15px;
 
  cursor: pointer;
  margin-top: 10px; /* Add some top margin to separate from the textarea */
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 35px;
  align-items: center;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #0F7E8F;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
